<html>
    <head>
        <title>NOTICIÁRIO</title>
        <link rel="stylesheet" href="../style/noticiario.css">
        <link rel="icon" href="">
    </head>
    <body>
        <div class="back-color"></div>
        <div class="conteudo">
            <div class="cabecario">
                <div class="titulo">
                    <img src="/img/logo-escola.png  " alt="">
                    <h1>EEMIP Lolo Da Silva Pinto</h1>
                </div>
                <input type="search" placeholder="Pesquise aqui...">
                <button>Pesquisar</button>
            </div>
            <div class="jornal">
                <a href="https://www.seduc.ce.gov.br/2025/03/07/governo-do-ceara-entrega-mais-de-8-mil-tablets-para-estudantes-de-seis-municipios/">
                    <div class="noticia">
                        <img src="../noticias/foto-noticia01.jpg" alt="">
                        <h2>Título</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis fugiat delectus provident cupiditate corporis! Ut at, eos tenetur in reprehenderit ex veritatis dolores illum laborum harum! Tempore explicabo eveniet corrupti.</p>
                    </div>
                </a>
                <a href="https://www.esporte.ce.gov.br/jogos-escolares-do-ceara/">
                    <div class="noticia">
                        <img src="../noticias/foto-noticia02.avif" alt="">
                        <h2>Título</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis fugiat delectus provident cupiditate corporis! Ut at, eos tenetur in reprehenderit ex veritatis dolores illum laborum harum! Tempore explicabo eveniet corrupti.</p>
                    </div>
                </a>
                <a href="https://www.ceara.gov.br/tag/debate-escolar/">
                    <div class="noticia">
                        <img src="../noticias/foto-noticia03.jpg" alt="">
                        <h2>Título</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis fugiat delectus provident cupiditate corporis! Ut at, eos tenetur in reprehenderit ex veritatis dolores illum laborum harum! Tempore explicabo eveniet corrupti.</p>
                    </div>
                </a>
                <a href="https://www.ceara.gov.br/2025/04/29/melhor-resultado-da-historia-24-403-estudantes-da-rede-publica-do-ceara-foram-aprovados-no-ensino-superior-em-2024/">
                    <div class="noticia">
                        <img src="../noticias/foto-noticia04.jpg" alt="">
                        <h2>Título</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis fugiat delectus provident cupiditate corporis! Ut at, eos tenetur in reprehenderit ex veritatis dolores illum laborum harum! Tempore explicabo eveniet corrupti.</p>
                    </div>
                </a>
                <a href="https://www.al.ce.gov.br/noticias/fm-assembleia-lanca-campanha-sobre-violencia-e-bullying-nas-escolas">
                    <div class="noticia">
                        <img src="../noticias/foto-noticia05.jpg" alt="">
                        <h2>Título</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis fugiat delectus provident cupiditate corporis! Ut at, eos tenetur in reprehenderit ex veritatis dolores illum laborum harum! Tempore explicabo eveniet corrupti.</p>
                    </div>
                </a>
                <a href="https://www.ceara.gov.br/2022/01/14/mascaras-n95-e-similares-serao-obrigatorias-a-partir-de-24-de-janeiro-em-farmacias-escolas-e-supermercados/">
                    <div class="noticia">
                        <img src="../noticias/foto-noticia06.webp" alt="">
                        <h2>Título</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis fugiat delectus provident cupiditate corporis! Ut at, eos tenetur in reprehenderit ex veritatis dolores illum laborum harum! Tempore explicabo eveniet corrupti.</p>
                    </div>
                </a>
            </div>
        </div>
    </body>
</html>